################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToDoList-Blazer/bin/Debug/net5.0
/ToDoList-Blazer/appsettings.Development.json
/ToDoList-Blazer/appsettings.json
/ToDoList-Blazer-IntegrationTests/bin/Debug/net5.0
/ToDoList-Blazer-IntegrationTests/obj
