@page "/"

<h1>What do we have to do today?!</h1>

<AuthorizeView >
    <Authorized>
        Below is your to-do list...

        <ToDoList />
    </Authorized>
    <NotAuthorized>
        Please log in to see your to-do list...
    </NotAuthorized>
</AuthorizeView>
    
