<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="Identity/Account/Login">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Identity/Account/Register">Register</a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>
