<div class="top-row pl-4 navbar navbar-light">
    <svg class="navbar-brand" width="130" height="40" xmlns="http://www.w3.org/2000/svg">
        <g>
            <title>Logo</title>
            <path id="svg_7" d="m0.89253,19.95582l0,0c0,-10.47899 8.49877,-18.97389 18.98252,-18.97389l0,0c5.03448,0 9.86275,1.99903 13.42267,5.55732c3.55991,3.55829 5.55986,8.38438 5.55986,13.41657l0,0c0,10.47899 -8.49877,18.97389 -18.98252,18.97389l0,0c-10.48376,0 -18.98252,-8.4949 -18.98252,-18.97389l-0.00001,0zm9.49126,0l0,0c0,5.23949 4.24939,9.48694 9.49126,9.48694c5.24188,0 9.49126,-4.24746 9.49126,-9.48694c0,-5.23949 -4.24939,-9.48694 -9.49126,-9.48694l0,0c-5.24188,0 -9.49126,4.24746 -9.49126,9.48694z" fill="#f66e3e" stroke="#f66e3e" />
            <text transform="matrix(0.210347 0 0 0.210347 46.903 126.07)" stroke="#f66e3e" fill="#172c4e" stroke-width="0" x="-34.30758" y="-470.80915" id="svg_5" font-size="157" font-family="'Ubuntu'" text-anchor="start" xml:space="preserve" font-weight="bold" font-style="normal">todo</text>
            <text transform="matrix(0.210347 0 0 0.210347 46.903 126.07)" stroke="#f66e3e" fill="none" stroke-width="20" x="326.63197" y="-477.22448" id="svg_6" font-size="90" font-family="'Ubuntu'" text-anchor="start" xml:space="preserve">.</text>
            <line fill="none" x1="42.93337" y1="34.73333" x2="78.93337" y2="34.73333" id="svg_1" stroke-width="5" stroke="#f66e3e" />
        </g>
    </svg>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
